<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %><br>
        <%= @user.name %>
      </h1>
      <h2 class="show_h2">
        <%= @user.email %>
      </h2>
    </section>
  </aside>
  <div class="span8">
    <% if @user.microposts.any? %>
      <h3 class="microposts_title">Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
